<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<MAPBOX_DOWNLOADS_TOKEN>pk.eyJ1IjoiYndpbmtsZXNreSIsImEiOiJjanlveGg0M2gwMnN1M21xdHVrcDMxeHluIn0.v7h89PF-OFLLQxD_sRling</MAPBOX_DOWNLOADS_TOKEN>
	</PropertyGroup>
</Project>